<app-header></app-header>

<!-- ----------main-body-area-start------------ -->
<main class="main-div">
    <div class="container-fluid">

    <div class="row">
      <div class="">
        <div class="content-area">

          <div class="container text-center">

            <div class="row d-flex justify-content-around">

              <div class="card card_active" style="width: 18rem;">

                <div class="card-body" data-bs-toggle="collapse" data-bs-target="#collapseSingleEmail"
                     aria-expanded="true" aria-controls="collapseSingleEmail">

                  <h5 class="card-title"> Single Email Varifyer </h5>
                  <br>
                  <p class="card-text"> You can varify an Email by using this Option

                  </p>

                </div>
              </div>

              <div class="card" style="width: 18rem;">

                <div class="card-body" data-bs-toggle="collapse" data-bs-target="#collapseBulkEmail"
                     aria-expanded="false" aria-controls="collapseBulkEmail">
                  <h5 class="card-title"> Bulk Email Varifyer </h5>
                  <br>
                  <p class="card-text">
                    You can varify an Email by using this Option
                  </p>
                </div>

              </div>

              <div class="card" style="width: 18rem;">

                <div class="card-body" data-bs-toggle="collapse" data-bs-target="#collapseEmailFinder"
                     aria-expanded="false" aria-controls="collapseEmailFinder">
                  <h5 class="card-title"> Email Finder </h5>
                  <br>
                  <p class="card-text">
                    You can Find some possible valid Emails by using this Option
                  </p>
                </div>

              </div>


            </div> <!--Row Flex Justify div-->


            <div class="accordion accordion-details" id="accordionExample">

              <div class="accordion-item">
                <div id="collapseSingleEmail" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">


                    <div class="email-box">
                      <form>
                        <h3>Insert Your Email Address</h3>

                        <input placeholder="address@domain.com" type="email" class="form-control" [(ngModel)]="email"
                        name="email">


                        <button type="submit" (click)="singleEmail(email!)">Check</button>
                      </form>
                    </div>
                      <div *ngIf="resultUpdte == true">
                        <div *ngIf="result.status == 1" >
                            <div style="background-color: rgba(0, 255, 0, 0.10)" >
                              <p> <span style="font-weight: bold">Email: </span> {{result.email}} </p>
                              <p> <span style="font-weight: bold">Status: </span> Correct Email! </p>
                            </div>
                          <img src="assets/yes.gif" alt="Correct Email" width="100px">
                        </div>
                        <div *ngIf="result.status == 2" >
                          <div style="background-color: rgba(255, 0, 0, 0.25)">
                            <p> <span style="font-weight: bold">Email: </span> {{result.email}} </p>
                            <p> <span style="font-weight: bold">Status: </span> Worng Email! </p>
                          </div>
                          <img src="assets/bdS.gif" alt="Correct Email" width="100px">
                        </div>
                      </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div id="collapseBulkEmail" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                    <div class="email-box">
                      <form id="bulk-form">
                        <h3>Insert Bulk Amount Email Addresses</h3>
                        <textarea placeholder="Maximum 20 Email for Free Version" type="email" class="form-control"
                                  id="exampleInputEmail1" rows="4"></textarea>

                        <button type="submit">Check</button>
                      </form>
                    </div>


                    <div class="email-table">
                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th>Email Address</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td></td>
                          <td></td>

                        </tr>
                        <tr>
                          <td></td>
                          <td></td>

                        </tr>
                        <tr>
                          <td></td>
                          <td></td>

                        </tr>
                        <tr>
                          <td></td>
                          <td></td>

                        </tr>

                        </tbody>

                      </table>
                      <div class="form-btn ">
                        <button>Delete</button>
                        <button>Download</button>
                      </div>
                    </div>
                    <!-- After checking Email List -->


                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div id="collapseEmailFinder" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">


                    <div class="">
                      <div class="content-area">
                        <div class="container">
                          <div class="row">
                            <div class="email-box">
                              <form class="" id="email-f">
                                <input type="text" placeholder="First Name">
                                <input type="text" placeholder="Last Name">
                                <input type="text" placeholder="Domain">

                                <br>
                                <button class="mt-3" type="submit">Check</button>
                              </form>
                            </div>
                            <div class="email-table">
                              <table class="table table-bordered">
                                <thead>
                                <tr>
                                  <th>Email Address</th>
                                  <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td></td>
                                  <td></td>

                                </tr>
                                </tbody>

                              </table>
                              <div class="form-btn ">
                                <button>Delete</button>
                                <button>Download</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


            </div> <!-- Accordion Details Done -->

          </div>

        </div>
      </div>


    </div>
    </div>
</main> <!--  main div Finish -->
<!-- ----------main-body-area-start-------------->

<app-footer></app-footer>
